@page
@model TaskModel
@{
    Layout = "\\shared\\_TodoLayout.cshtml";
    ViewData["Title"] = "Home page";

    if(Model.sessionUser == null){
        Response.Redirect("/Login");
    }
}

<div class="text-center">
    <h1 class="display-4" id="shadowText">Handle your tasks!</h1>
    <p>Create, edit and delete your tasks</p>
    <br />
</div>

<div class="crud-div">
<form action="/task" method="post">


    <div class="polaroid" id="createTaskLeft">
        <div class="legend1">Create new task</div>

        <div>
            <label for="title">Title</label>
        </div>
        <div>
            <input type="text" id="title" name="title">
        </div>

        <div>
            <label for="description">Description</label>
        </div>
        <div>
            <input type="text" name="description" value="">
        </div>

        <div>
            <label for="week">Week</label>
        </div>
        <div>
            <input type="number" name="week" value="">
        </div>

        <div>
            <label for="weekDay">Weekday</label>
            <select name="weekDay">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>


        <div class="container-one">
            <input type="submit">
        </div>
    </div>



</form>

@{
    if(Model.task != null)
    {
        var task = Model.task[0];
        
        var listId = task.listId;
        var taskId = task.taskId;
        var title = task.title;
        var description = task.description;
        var weekDay = task.weekDay;
        var week = Model.week;

    <form action="/task/edit" method="post">


        <div class="polaroid" id="createTaskMiddle">

            <div class="legend1">Edit task</div>

            <div>
                <label for="taskId">ID</label>
            </div>

            <div>
                <input readonly type="number" id="id" name="id" value="@taskId">
            </div>

            <div>
                <label for="title">Title</label>
            </div>
            <div>
                <input type="text" id="title" name="title" value="@title">
            </div>

            <div>
                <label for="description">Description</label>
            </div>
            <div>
                <input type="text" name="description" value="@description">
            </div>

            <div>
                <label for="weekDay">Weekday</label>
            </div>
            <div>
                <select name="weekDay">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
            </div>

            <div>
                <label for="week">Week</label>
            </div>
            <div>
                <input type="number" id="week" name="week" value="@week">
            </div>

            <div class="container-one">
                <input type="submit">
            </div>
        </div>

</form>



    <form action="/task/delete" method="post">


        <div class="polaroid" id="createTaskRight">
            <div class="legend1">Delete task</div>
            <div>
                <label for="taskId">ID</label>
            </div>
            <div>
                <input readonly type="number" id="id" name="id" value="@taskId">
            </div>
            <div>
                <label for="title">Title</label>
            </div>
            <div>
                <input type="text" id="title" name="title" value="@title">
            </div>
            <div>
                <input type="submit">
            </div>
        </div>
    </form>

    } else{

<form action="/task/edit" method="post">

    <div class="polaroid" id="createTaskMiddle">

        <div class="legend1">Edit task</div>

        <div>
            <label for="taskId">ID</label>
        </div>
        <div>
            <input type="text" id="taskId" name="taskId">
        </div>

        <div>
            <label for="title">Title</label>
        </div>
        <div>
            <input type="text" id="title" name="title">
        </div>

        <div>
            <label for="description">Description</label>
        </div>
        <div>
            <input type="text" name="description">
        </div>

        <div>
            <label for="weekDay">Weekday</label>
            <select name="weekDay">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>
        <div>
            <label for="week">Week</label>
        </div>
        <div>
            <input type="number" id="listId" name="listId" value="">
        </div>
        <div>
            <input type="submit">
        </div>
    </div>




</form>

        
        <form action="/task/delete" method="post">

            <div class="polaroid" id="createTaskRight">
                <div class="legend1">Delete task</div>
                <div>
                    <label for="taskId">ID</label>
                </div>
                <div>
                    <input readonly type="number" id="id" name="id" value="">
                </div>
                <div>
                    <label for="title">Title</label>
                </div>
                <div>
                    <input type="text" id="title" name="title" value="">
                </div>
                <div>
                    <input type="submit">
                </div>
            </div>
        </form>
        
    }
}
</div>




